.container-fluid {
    padding: 0;
}

.center-father {
    height: 30vh;
    background-color: rgb(243, 75, 81);
}

.col-6 {
    flex: 0 0 80%;
    max-width: 80%;
}

.navbar {
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(30, 30, 30, 0.5);
}

.nav-link {
    color: #222!important;
}

.nav-link:hover {
    font-weight: 500;
    color: #111!important;
}

/*=============TOAST=============*/
#snackbar {
    visibility: hidden;
    min-width: 300px;
    max-width: 300px;
    background-color: rgb(238, 125, 129);
    color: azure;
    text-align: center;
    border-radius: 20px;
    padding: 11px;
    z-index: 1;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    font-size: 15px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 40px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 40px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}